.wrapper {
  width: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  .button {
    border-radius: 25px;
    padding-top: 15px;
    padding-right: 27px;
    padding-bottom: 15px;
    padding-left: 27px;
    border: 0;

    font-weight: 500;
    font-size: 35px;
    line-height: 110.00000000000001%;
    text-align: center;
  }

  .button:hover {
    opacity: 80%;
  }
  .button:active {
    opacity: 60%;
  }

  .button_send {
    background: var(--button-send);
  }
  .button_download {
    background: var(--button-download);
  }
  .button_clear {
    background: var(--button-clear);
    color: #ffffff;
  }

  .button:disabled {
    background: var(--button-send-disabled);
    opacity: 20%;
  }
}
